<hr />
<h2>@Name</h2>
<p>
    <div>
        @((MarkupString)Description)
    </div>
    @if (Note != null)
    {
        <div>
            <b>Note</b>: @((MarkupString)Note)
        </div>
    }
</p>

@code {
    [Parameter]
    public string Name { get; set; } 

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public string Note { get; set; }
}
