@page "/playground/eventsBindings"
@using blazor_training.Client.Shared.Playground

<h1>Events and binding</h1>

<Container>
    @*Events and binding*@
    <SplitSection Name="Handle events and two way bindings"
                  Description="Example how to manage the events and two way bindings using Blazor"
                  Note="Check the method <code>Console.WriteLine</code> to write messages in the browser console." />

    <EventsAndBinding />
</Container>