@page "/"

@* Implicit syntax *@
<p>Hi, @name.extToUpper()</p>

@* Explicit syntax *@
<p>2 + 4 = @(2 + 4)</p>


<button @onclick="@handleClick">Test</button>

@code {
    string name = "Michael Bolanos Vargas";

    private Movie getMovie()
    {
        return new Movie()
            {
                Title = "TEST",
                Released = DateTime.Now
            };
    }


    private void handleClick()
    {

        Console.WriteLine("TEST");
    }
}